.tick {
    margin: 0 auto;
    width: 462px;
    height: 144px;

    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.13);
    margin-bottom : 20px ;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas: "price comp comp"

    ;

}


.price {
    grid-area: price;
    color: #2196f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.company {
    grid-area: comp;
    text-align: right;
}



