.wrapper{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;

}

.wrapper .active{
    background-color: #2196f3;
    color: white
}

.wrapper div:hover,.wrapper .active{
    background-color: #2196f3;
    color: white
}

.wrapper div{
    text-align: center;
    border: 1px solid #dfe5ec;
    width: 168px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .cheap{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.wrapper .style{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.wrapper .opti{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



